.tarification {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
}

.formulaire {
    flex: 1;
    max-width: 400px; /* Ajustez la largeur selon vos besoins */
    margin-right: 20px; /* Espace entre le formulaire et les résultats */
    background-color: gray;
}

.resultats {
    flex: 1;
    max-width: 400px; /* Ajustez la largeur selon vos besoins */
}
